html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #e7f3ff;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

p, li {
  text-align: justify;
}

/* ---------------------------------- HEADER ---------------------------------- */
.header {
  background-color: #fff;
  width: 100%;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header .menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.header .menu-toggle span {
  width: 25px;
  height: 3px;
  background-color: #205c99;
  margin: 4px 0;
  transition: 0.4s;
}

.header .logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 8%;
}

.header .logo img {
  max-height: 60px;
  margin-right: 10px;
  vertical-align: middle;
}

.header .sc-title {
  font-size: 24px;
  color: #205c99;
  margin: 20px;
  text-transform: uppercase;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8%;
}

.nav-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu ul li a,
.nav-menu ul li button {
  font-size: 16px;
  font-weight: 600;
  margin: 0 10px;
  text-decoration: none;
  border: none;
  outline: none;
  background: none;
  color: #004b96;
}

.nav-menu ul li a:hover,
.nav-menu ul li button:hover {
  color: #ff5959;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* ---------------------------------- ABOUT SECTION ---------------------------------- */
.about {
  position: relative;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 80px 0;
  color: white;
}

.about:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #4c83ea, #8d2afe);
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  transform: scaleX(1.5);
}

.about .container {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  text-align: center;
  padding: 20px 20px 20px 10%;
  border-radius: 8px;
}

.about .c-content {
  font-size: 26px;
}

@media screen and (max-width: 768px) {
  .about .c-content {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .about .c-content {
    font-size: 16px;
  }
}

.about .c-content b {
  color: #fff173;
}

.about .c-content-sub {
  text-align: left;
  font-size: 20px;
}

.about .c-content-sub b {
  color: rgb(241, 253, 69);
}

.about .img-container {
  z-index: 1;
  margin-right: 8%;
}

.about .img-container img {
  width: 20vw;
  height: 20vw;
  filter: invert(1) brightness(100);
}

.about-body {
  margin-top: 50px;
}

.about-inner {
  padding: 15px 10%;
}

.about-inner p {
  font-size: 20px;
  line-height: 1.6;
}

.about-inner b {
  color: #47453b;
  font-size: 25px;
}

.about-inner li {
  list-style: "⇾";
  padding: 10px;
  font-size: 20px;
}

/* ---------------------------------- INVITATION ---------------------------------- */
.invitation-section {
  padding: 60px 0;
  min-height: 80vh;
  background-color: #f3f7fc;
}

.invitation-content {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 10%;
  margin: 0 auto;
}

.invitation-image {
  flex: 1;
  margin: auto;
  max-width: 45%;
  text-align: center;
}

.invitation-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.invitation-text {
  flex: 1;
  max-width: 50%;
  font-size: 20px;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.invitation-section h3 {
  text-align: center;
  font-size: 28px;
  color: #205c99;
  margin-bottom: 20px;
}

.invitation-text p {
  font-size: 18px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 15px;
}

.invitation-text b {
  color: #274cab;
}

.invitation-text a.btn-primary {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  padding: 12px 20px;
  background: linear-gradient(45deg, #4c83ea, #8d2afe);
  color: white;
  border-radius: 8px;
  transition: 0.3s;
  width: min(100%, max-content);
}

.invitation-text a.btn-primary:hover {
  background: linear-gradient(45deg, #ff3e9f, #851bff);
}

.n-bold {
  font-size: 18px !important;
}

/* ---------------------------------- CRITERIA ---------------------------------- */
.criteria {
  padding: 40px 0;
}

.criteria .sc-title,
.about-body .sc-title,
.procedure .sc-title {
  text-align: center;
  color: #205c99;
  font-size: 30px;
}

.criteria-inner {
  display: flex;
  flex-wrap: wrap;
  margin: auto 10%;
  align-items: stretch;
}

.criteria-inner-common {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  line-height: 1.6;
  box-sizing: border-box;
  padding: 15px 40px;
  margin: 10px;
  width: 49%;
  min-width: 500px;
  font-size: 17px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.criteria-inner-common h2 {
  text-align: center;
  color: #274cab;
  font-size: 25px;
}

.criteria-inner-common li {
  list-style: "⇾";
  padding: 10px;
  margin-left: -20px;
}

/* ---------------------------------- PROCEDURE ---------------------------------- */
.procedure {
  padding: 40px 10%;
}

.procedure-inner li {
  list-style: "⇾";
  padding: 10px;
  font-size: 20px;
}

.form-links {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.form-links a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 20px;
  background: linear-gradient(45deg, #4c83ea, #8d2afe);
  padding: 20px;
  border-radius: 8px;
  margin: 0 10px;
}

.form-links a:hover {
  background: linear-gradient(45deg, #ff3e9f, #851bff);
  cursor: pointer;
  transition: 0.5s;
}

/* ---------------------------------- WINNERS ---------------------------------- */
.winners-section {
  padding: 80px 10%;
  margin-top: 60px;
}

.winners-section p {
  font-size: 20px;
  line-height: 1.6;
}

.winners-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.winner {
  width: calc(50% - 15px);
  background: white;
  padding: 20px;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  box-sizing: border-box;
}

.winner img {
  width: 200px;
  height: auto;
  margin-right: 20px;
  float: left;
  border-radius: 5px;
}

.winner p {
  font-family: "Montserrat";
  text-align: justify;
  line-height: 1.7;
}

.note {
  font-size: 18px;
  font-weight: bold;
  color: #666;
  text-align: center;
  margin-top: 20px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* ---------------------------------- GALLERY ---------------------------------- */
.gallery {
  padding: 50px;
  columns: 300px;
  column-gap: 1rem;
}

.gallery-image {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0.7rem;
  display: block;
}

.section-title {
  font-size: 30px;
  color: #205c99;
  text-align: center;
  margin-bottom: 40px;
}

.year-title {
  font-size: 24px;
  color: #274cab;
  margin-top: 50px;
  text-align: center;
}

.images-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.image-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.image-item.portrait img,
.image-item.landscape img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* ---------------------------------- FOOTER ---------------------------------- */
.footer {
  width: 100%;
  margin: 0 auto;
  background-color: #445566;
  color: #fff;
  padding: 35px 0;
}

.footer .copyright,
.footer .credits {
  font-size: 15px;
  margin-left: 10%;
}

[aria-disabled="true"] {
  cursor: not-allowed !important;
}

/* ---------------------------------- RESPONSIVE ---------------------------------- */
@media only screen and (max-width: 1680px) {
  .secondary-text {
    display: none;
  }
}

@media screen and (max-width: 1520px) {
  .invitation-content {
    flex-direction: column;
  }

  .secondary-text {
    display: block;
  }

  .invitation-image,
  .invitation-text {
    max-width: 100%;
    height: auto;
  }

  .invitation-text {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 1240px) {
  .img-container {
    display: none;
  }

  .about:before {
    transform: scaleX(2);
  }

  .header .nav-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .header .nav-menu ul {
    flex-direction: column;
    width: 100%;
  }

  .header .nav-menu ul li {
    padding: 12px 16px;
    text-align: center;
  }

  .header .nav-menu ul li button {
    padding-bottom: 10px;
  }

  .header .menu-toggle {
    display: flex;
    margin-right: 30px;
  }

  .header .menu-toggle.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 5px);
  }

  .header .menu-toggle.active span:nth-child(2) {
    opacity: 0;
  }

  .header .menu-toggle.active span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -5px);
  }

  .header .nav-menu.active {
    display: flex;
  }

  .header .nav-menu ul li:hover {
    background: #ddd;
  }

  .dropdown-content {
    position: relative;
    display: none;
    background-color: none;
    box-shadow: none;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
  }

  .winners-container {
    display: block;
    justify-content: center;
    align-items: center;
  }

  .winner {
    width: 100%;
    padding: 20px;
  }

  .winner img {
    float: none;
    display: block;
    margin: 0 auto 20px;
  }
}

@media only screen and (max-width: 700px) {
  .header .logo img {
    width: 65%;
  }

  .header .sc-title {
    font-size: 20px;
  }

  .about .container {
    padding: 20px;
  }

  .about:before {
    transform: scaleX(3);
  }

  .about .c-content {
    margin-top: 50px;
    font-size: 24px;
  }

  .about .c-content-sub {
    font-size: 18px;
  }

  .criteria-inner {
    flex-direction: column;
    margin: 0;
  }

  .criteria-inner-common {
    width: 95%;
    min-width: 0;
    margin: 10px auto;
  }
}
